$color-background: #22223a;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #FF3F3A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-background;
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    padding: 50px 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 40px;

    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.ideas-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    min-height: 50px;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: 100px;
    margin-bottom: 90px;
    padding: 10px;
}

.link {
    color: $color-black;
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
        border-radius: 10px;
        background-color: $color-background;
        color: $color-white;
    }
}

.block {
    max-width: 350px;
    min-width: 350px;
    min-height: 300px;
    transition: transform .3s ease;

    &:hover {
        transform: translateY(-20px);
    }
}


.block__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
    object-fit: cover;
    height: 215px;
}

.block__image-inner {
    height: 215px;
    border-radius: 10px 10px 0 0;

    &--ideas {
        background-color: #FDD7E4;
    }
    &--makets {
        background-color: #87CEFA;  
    }
    &--local-ideas {
        background-color: #98FB98;
    }
}

.block__wrapper {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $color-white;
    border-right: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
    padding: 15px;
    min-height: 165px;
}

.block__title {
    margin-bottom: 20px;

    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
}

.block__desc {
    line-height: 27px;

    white-space: normal;
    overflow: hidden;
    max-height: 60px;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    margin-bottom: 20px;
    min-height: 60px;
}

.time {
    display: flex;
    align-items: center;
    flex-grow: 1;

    &::before {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        background-image: url('../img/calendar.svg');
        background-repeat: no-repeat;
    }
}

.block__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    background: $color-white;
    color: $color-black;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
        color: $color-red;
        & .arrow-link {
            transform: translateX(6px);
        }
    }
}

.arrow-link {
    margin-left: 10px;
    transition: all 0.5s ease;
}

.active-tab {
    border-radius: 10px;
    background: $color-background;
    color: $color-white;
}

.hidden {
    display: none;
}

@media (max-width: 1220px) {
    .container {
        grid-template-columns: repeat(2, 350px);
    }
}

@media (max-width: 820px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 412px) {
    .ideas-list {
        flex-direction: column;
        border-radius: 20px;
    }
    .link {
        font-size: 20px;
    }
    .block {
        min-width: 80%;
    }
}